<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://vuejs.org/js/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<div id="sample">
    <button v-if="componentType == 'product-list'" @click="componentType = 'product-list-simple'">Show Simple</button>
    <button v-else @click="componentType = 'product-list'">Show More</button>
    <!--html markup is capital sensitive, so can not recognize theTitle attribute  -->
    <component :is="componentType" the-title="Shop product list" :products="theProducts"></component>
</div>

<script>
    Vue.component('product-list', {
        template: '<div class="product-list">\
                    <h2>{{theTitle}}</h2>\
                    <ul>\
                      <product-item v-for="product in products" :product="product"></product-item>\
                    </ul>\
                   </div>',
        props: ['theTitle', 'products']
    });

    Vue.component('product-list-simple', {
        template: '<div class="product-list">\
                    <h2>{{theTitle}}</h2>\
                    <ul>\
                      <li v-for="product in products">\
                        <p><strong>{{product.name}}</strong></p>\
                      </li>\
                    </ul>\
                   </div>',
        props: ['theTitle', 'products']
    });

    Vue.component('product-item', {
        template: '<li>\
                        <img :src="product.image" alt="">\
                        <p><strong>{{product.name}}</strong></p>\
                        <p>{{product.description}}</p>\
                   </li>',
        props: ['product']
    })

    // vm: vue model
    var vm = new Vue({
        el: '#sample',
        data: {
            theProducts: [],
            componentType: 'product-list'
        },
        created: function() {
            $.getJSON('https://hplussport.com/api/products')
                    .done(function(data) {
                        vm.theProducts = data;
                    });
        }
    });

</script>
</body>
</html>