<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://vuejs.org/js/vue.js"></script>

<div id="sample">
    <input type="text" v-model="greeting" />
    <input type="text" v-model.lazy="lazyGreeting" />
    <p>{{ greeting }}</p>
    <p>{{ lazyGreeting }}</p>
    <hr/>
    <form action="#">
        <input type="checkbox" v-model="selectedFrameworks" value="Vue"> Vue
        <input type="checkbox" v-model="selectedFrameworks" value="React"> React
        <input type="checkbox" v-model="selectedFrameworks" value="Angular"> Angular
        <input type="checkbox" v-model="selectedFrameworks" value="Ember"> Ember
        <input type="checkbox" v-model="selectedFrameworks" value="Backbone"> Backbone
    </form>
    <p>Selected frameworks or libraries: {{selectedFrameworks.join(', ')}}</p>
</div>

<script>
    // vm: vue model
    var vm = new Vue({
        el: '#sample',
        data: {
            greeting: 'Hello Vue',
            lazyGreeting: "",
            selectedFrameworks: ['Vue']
        }
    })
</script>
</body>
</html>